body{ /*no margin and padding*/
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   background-color: black;
}

/*Header*/
.header{  /*header Flex*/
   position: fixed absolute;
   display: flex;
   background-color: #222222;
   color: white; 
   width: auto;
   justify-content: space-between; 
   padding-left: 17px; 
}
.header_left,.header_mid{  /*header left and mid flex*/
   display: flex;
   justify-content: flex-start;
}
.header_right{  /*header right flex*/
   display: flex;
   justify-content: flex-end;
}

.manga,.games{    /*manga and games padding*/
   padding: 19px 17px 15px 17px;
}
.browse_button,.news_button{  /*browse and news button padding*/
   padding: 19px 17px 15px 17px;
   display: flex;
}
.dropdown{  /*dropdown arrow on browse and news*/
   height: 10px;
   padding: 0px 5px 0px 10px;
}
.search,.watchlist,.account{  /*premium,search,watchlist,account padding*/
   padding: 18px 20px;
}
.pngs{  /*.png sizing*/
   width: 20px;
   height: 20px;
   color: #5a5959;
}
.crunchyroll{   /*crunchyroll logo sizing*/
   height: 25px;
   width: 135px;
}

.logo{  /*logo positioning*/
   align-self: center;
   padding: 17px 12px 17px 10px;
}
.logo:hover{  /*logo hover color change*/
   content: url(Images/kindpng_4935488.png);
   padding: 17px 12px 19px 10px;
   width: 135px;
   cursor: pointer;
}

.manga:hover,.games:hover,.news_button:hover,.browse_button:hover{  /*hover effects*/
   background-color: rgb(131, 130, 130);
   cursor: pointer;
}
.search:hover,.watchlist:hover,.account:hover{  /*hover effects*/
   background-color: rgb(148, 142, 142);
   cursor: pointer;
}

.premium{
   display: flex;
   padding: 4px 25px;
}
.premium:hover{  /*hover effects*/
   background-color: rgb(117, 112, 112);
   cursor: pointer;
}
.premium_text{  /*specific text*/
   font-size: 11px;
   text-align: center;
}
.crown{  /*crown image*/
   align-self: center;
   width: 22px;
   height: 15px;
   padding: 0px 7px 0px 0px;
}

/*Slider below Header*/
.watch_now{  /*continuously changing slider*/
   width: 100%;
   height: 400px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   background: rgb(214,125,29);
   background: radial-gradient(circle, rgba(214,125,29,1) 35%, rgba(255,201,0,1) 100%); 
}
.left_arrow{  /*left arrow design*/
   border: solid black;
   border-width: 0px 3px 3px 0px;
   padding: 5px;
   display: inline-block;
   transform: rotate(135deg);
   -webkit-transform: rotate(135deg);
}
.right_arrow{  /*right arrow design*/
   border: solid black;
   border-width: 0px 3px 3px 0px;
   padding: 5px;
   display: inline-block;
   transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
}
.poster_image{  /*centre poster image of trending anime*/
   height: 350px;
}
.poster_image:hover{
   cursor: pointer;
}
.arrow_r{  /*arrow padding*/
   padding: 10px 15px 10px 10px;
}
.arrow_l{  /*arrow padding*/
   padding: 10px 10px 10px 15px;
}
.arrow_l:hover,.arrow_r:hover{  /*hover effects*/
   background-color: #222222;
   cursor: pointer;
}

/*Slider info divs*/
.pinfo_wrap{
   display: flex;
   padding: 20px 142px;
   justify-content: space-between;
}
.posterinfo{
   background-color: #3f3c3c;
   height: 40px;
   width: 145px;
   padding: 5px 9px;
   font-size: 10.9px;
   color: white;
   border-top: 3px solid #3f3c3c;
}
#p0{
   background-color: rgb(63, 95, 109);
   border-top-color: #969696;
}
.posterinfo:hover{
   background-color: #5c5c5c;
   cursor: pointer;
   border-top-color: #5c5c5c;
}

/*Hindi Dubs Part*/
.hindi_dub{
   padding: 20px 142px;
   color: white;
}
.hr_hindi{
   height: 5px;
   background: rgb(42,189,187);
   background: linear-gradient(90deg, rgba(42,189,187,1) 35%, rgba(33,57,68,1) 100%); 
}
.shows_scroll{
   display: flex;
   align-items: center;
   width: 100%;
   justify-content: center;
}
.scrolling_shows{
   display: flex;
   align-items: start;
   justify-content: space-between;
   width: 79.2%;
}
.shows1{
   width: 155px;
   padding: 8px 5px 6px 5px;
}
.shows1:hover{
   background-color: rgb(31, 31, 31);
   cursor: pointer;
}
.card_img1{
   width: 150px;
}
.card_name1{
   color: white;
}
.left_arrow1{  /*left arrow design*/
   border: solid white;
   border-width: 0px 3px 3px 0px;
   padding: 5px;
   display: inline-block;
   transform: rotate(135deg);
   -webkit-transform: rotate(135deg);
}
.right_arrow1{  /*right arrow design*/
   border: solid white;
   border-width: 0px 3px 3px 0px;
   padding: 5px;
   display: inline-block;
   transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
}
.arrow_r1{  /*arrow padding*/
   padding: 8px 13px 8px 8px;
}
.arrow_l1{  /*arrow padding*/
   padding: 8px 8px 8px 13px;
}
.arrow_r1:hover,.arrow_l1:hover{
   background-color: #3f3c3c;
}