body {
   /*no margin and padding*/
   scroll-behavior: smooth;
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   background-color: black;
   color: white;
}

/*Header*/
.header {
   /*header Flex*/
   display: inline-flex;
   position: sticky;
   top: 0px;
   background-color: #222222;
   color: white;
   width: 98.8%;
   height: 65px;
   justify-content: space-between;
   padding-left: 17px;
   margin-top: 0px;
}

.header_left,
.header_mid {
   /*header left and mid flex*/
   display: flex;
   justify-content: flex-start;
}

.header_right {
   /*header right flex*/
   display: flex;
   justify-content: flex-end;
}

.manga,
.games {
   /*manga and games padding*/
   padding: 19px 17px 15px 17px;
}

.browse_button,
.news_button {
   /*browse and news button padding*/
   padding: 19px 17px 15px 17px;
   display: flex;
}

.dropdown {
   /*dropdown arrow on browse and news*/
   height: 10px;
   padding: 0px 5px 0px 10px;
}

.search,
.watchlist,
.account {
   /*premium,search,watchlist,account padding*/
   padding: 18px 20px;
}

.pngs {
   /*.png sizing*/
   width: 20px;
   height: 20px;
   color: #5a5959;
}

.crunchyroll {
   /*crunchyroll logo sizing*/
   height: 25px;
   width: 135px;
}

.logo {
   /*logo positioning*/
   align-self: center;
   padding: 17px 12px 17px 10px;
}

.logo:hover {
   /*logo hover color change*/
   content: url(Images/kindpng_4935488.png);
   padding: 14px 12px 16px 10px;
   width: 135px;
   cursor: pointer;
}

.manga:hover,
.games:hover,
.news_button:hover,
.browse_button:hover {
   /*hover effects*/
   background-color: rgb(131, 130, 130);
   cursor: pointer;
}

.search:hover,
.watchlist:hover,
.account:hover {
   /*hover effects*/
   background-color: rgb(148, 142, 142);
   cursor: pointer;
}

.premium {
   display: flex;
   padding: 4px 25px;
}

.premium:hover {
   /*hover effects*/
   background-color: rgb(117, 112, 112);
   cursor: pointer;
}

.premium_text {
   /*specific text*/
   font-size: 11px;
   text-align: center;
}

.crown {
   /*crown image*/
   align-self: center;
   width: 22px;
   height: 15px;
   padding: 0px 7px 0px 0px;
}

.browse_click {
   display: none;
   position: fixed;
   background-color: #141414;
   width: 100%;
   top: 65px;
   padding: 30px 0px 20px 150px;
   font-size: 13px;
}

.browse_class {
   display: flex;
   flex-direction: column;
}

.bclass_items {
   padding: 12px 19px 12px 17px;
}

.bclass_items:hover,
.bgenre_items:hover {
   background-color: #2a2b29;
   cursor: pointer;
}

.bgenre_items {
   padding: 12px 15px 12px 15px;
   width: 170px;

}

.genre {
   color: #969696;
   padding: 0px 0px 12px 15px;

}

.browse_line {
   border-left: #3f3c3c solid 2px;
   margin: 0px 40px;
}

.browse_genre {
   margin: 8px 20px 0px 10px;

}

.genre_wrapper {
   display: grid;
   grid-template-columns: repeat(3, 1fr);

}

.news_click {
   display: none;
   flex-direction: column;
   position: fixed;
   font-size: 15px;
   top: 65px;
   width: 300px;
   left: 455px;
   height: 200px;
   padding-top: 8px;
   background-color: #141414;
}

.news_content {
   width: 265px;
   height: 28px;
   padding: 10px 15px 10px 20px;
}

.news_content:hover {
   background-color: #2a2b29;
   cursor: pointer;
}

.premium_hover {
   display: none;
   flex-direction: column;
   align-items: center;
   position: fixed;
   cursor: pointer;
   font-size: 15px;
   width: 350px;
   top: 75px;
   right: 65px;
   background-color: #141414;
   padding: 5px;
   padding-bottom: 20px;
}

.premium_arrow {
   width: 7px;
   height: 7px;
   position: fixed;
   border-top: 3px solid #141414;
   border-left: 3px solid #141414;
   top: 71px;
   background-color: #141414;
   transform: rotate(45deg);
}

.phov_content {
   padding: 3px 10px 3px 10px;
   text-align: center;
}

.search_click {
   display: none;
   width: 100%;
   padding: 25px;
   justify-content: center;
   background-color: #141414;
}

.search_input {
   width: 67%;
   background-color: #141414;
   color: white;
   height: 50px;
   font-size: 32px;
   border: 0px;
   border-bottom: 2.5px solid #2a2b29;
}

.search_input:focus {
   border-bottom: 2.5px solid #a35913;
   outline: none;
}

/*Slider below Header*/
.watch_now {
   /*continuously changing slider*/
   width: 100%;
   height: 400px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   background: rgb(37, 64, 61);
   background: radial-gradient(circle, rgba(37, 64, 61, 1) 35%, rgba(3, 22, 20, 1) 100%);
}

.left_arrow {
   /*left arrow design*/
   /* display: contents; */
   border: solid black;
   border-width: 3px 0px 0px 3px;
   padding: 5px;
   transform: rotate(-45deg);
}

.right_arrow {
   /*right arrow design*/
   border: solid black;
   border-width: 0px 3px 3px 0px;
   padding: 5px;
   transform: rotate(-45deg);
}

.poster_image {
   /*centre poster image of trending anime*/
   height: 350px;
}

.poster_image:hover {
   cursor: pointer;
}

.arrow_r {
   /*arrow padding*/
   padding: 10px 15px 10px 10px;
}

.arrow_l {
   /*arrow padding*/
   padding: 10px 10px 10px 15px;
}

.arrow_l:hover,
.arrow_r:hover {
   /*hover effects*/
   background-color: #222222;
   cursor: pointer;
}

/*Slider info divs*/
.pinfo_wrap {
   display: flex;
   padding: 20px 142px;
   justify-content: space-between;
}

.posterinfo {
   background-color: #3f3c3c;
   height: 40px;
   width: 145px;
   padding: 5px 9px;
   font-size: 12px;
   color: white;
   border-top: 3px solid #3f3c3c;
   cursor: pointer;
   font-weight: bold;
}

#p0 {
   background-color: rgb(63, 95, 109);
   border-top-color: #969696;
}

/*Hindi Dubs Part*/
.hindi_dub {
   padding: 20px 142px;
   color: white;
}

.hr_hindi {
   height: 5px;
   background: rgb(42, 189, 187);
   background: linear-gradient(90deg, rgba(42, 189, 187, 1) 35%, rgba(33, 57, 68, 1) 100%);
}

.shows_scroll {
   display: flex;
   align-items: center;
   width: 100%;
   justify-content: space-evenly;
   padding-bottom: 20px;
}

.scrolling_shows {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 79.2%;
}

.shows1 {
   width: 155px;
   padding: 8px 5px 6px 5px;
}

.shows1:hover {
   background-color: rgb(31, 31, 31);
   cursor: pointer;
}

.card_img1 {
   width: 150px;
}

.card_name1 {
   color: white;
}

.left_arrow1 {
   /*left arrow design*/
   border: solid white;
   border-width: 0px 3px 3px 0px;
   padding: 5px;
   display: inline-block;
   transform: rotate(135deg);
   -webkit-transform: rotate(135deg);
}

.right_arrow1 {
   /*right arrow design*/
   border: solid white;
   border-width: 0px 3px 3px 0px;
   padding: 5px;
   display: inline-block;
   transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
}

.arrow_r1 {
   /*arrow padding*/
   cursor: pointer;
   padding: 8px 13px 8px 8px;
}

.arrow_l1 {
   /*arrow padding*/
   cursor: pointer;
   padding: 8px 8px 8px 13px;
}

.arrow_r1:hover,
.arrow_l1:hover {
   background-color: #3f3c3c;
}

.jjk_spotlight{
   background: rgb(226,64,15);
   background: linear-gradient(90deg, rgba(226,64,15,1) 34%, rgba(230,158,50,1) 100%); 
   display: flex;
   justify-content: center;
   height: 330px;
}
.jjk_spot{
   background-color: black;
   display: flex;
   width: 80%;
   height: 80%;
   align-self: center;
   font-size: 15.5px;
}
/* .jjk_spot_img{

} */
.jjk_poster{
   padding: 0px 15px 10px 15px;
   height: 270px;
}
.jjk_poster img{
   height: 250px;
}
.jjk_content{
   padding: 0px 10px;
}

.footer {
   width: 100%;
   padding-bottom: 40px;
   padding-top: 20px;
   background: rgb(24,57,51);
   background: linear-gradient(0deg, rgba(24,57,51,1) 5%, rgba(0,0,0,1) 100%); 
}

.foot_wrap {
   width: 80%;
   display: flex;
   flex-direction: column;
   font-size: 15px;
   color: rgb(185, 185, 185);
}

.foot_top_wrap {
   width: 90%;
   display: flex;
   justify-content: space-around;
   padding: 10px;
}

.foot_line {
   border-top: 2px solid #969696;
   padding: 10px;
}

.foot_last {
   display: flex;
   justify-content: space-between;
   padding: 10px;
}
.nav_list,.crunch_list,.connect_list,.acc_list{
   display: flex;
   padding: 7px;
}
.foot_free_trial{
   display: flex;
   padding: 7px;
   color: #f5c93a;
}
.nav_list:hover,.crunch_list:hover,.connect_list:hover,.acc_list:hover,.foot_free_trial:hover{
   color: white;
   text-decoration: underline;
   cursor: pointer;
}
.foot_nav,.foot_crunch,.foot_connect,.foot_acc{
   display: flex;
   padding: 15px 7px;
   font-size: 17px;
   color: white;
}
.foot_last div{
   padding: 10px 20px;

}
.Language:hover{
   background-color: #3f3c3c;
   color: white;
   cursor: pointer;
}
